<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    

    <a href="{% url 'catalog:create_book' %}">Create Book</a><br>
    <a href="{% url  'catalog:create_author' %}">Create Author</a><br>
    <a href="{% url  'catalog:create_genre' %}">Create Genre</a><br>
    <a href="{% url  'catalog:create_language' %}">Create Language</a><br>

    {% if user.is_authenticated %}
        <p>You are logged in</p>
        <p>welcome {{ user.get_username }}</p>
        <p>Total Books : {{num_books}}</p>
        <p>Num Book Instance : {{num_instance}}</p>
        <p>Num Available : {{num_instance_avail}}</p>

        <!-- <a href="{% url 'logout' %}">LOGOUT HERE</a> -->
        <a href="{% url 'logout' %}?next={{request.path}}">LOGOUT HERE</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}?next={{request.path}}">LOGIN HERE</a>
    {% endif %}
    
</body>
</html>