{% extends 'base.html' %}
{% block content %}


<h1>Rajalakshmy</h1><br><hr>

{% load static %}

<img src="{% static 'singers/rajalakshmy.jpg' %}" alt="rajalakshmiabhiram" width="300px">
<hr>
<p>Rajalakshmy is a playback singer and made her mark in the Malayalam film music industry by winning the Kerala State Film Award for the Best Playback Singer in 2011. She was nominated to the National Film Awards 2009 for the film Kuttysrank, directed by Shaji N. Karun. Wikipedia</p>
<p><strong>Born</strong>: 13 October 1983 (age 38 years), Ernakulam</p>
<p><strong>Spouse</strong>: Abhiram Krishnan (m. 2004)</p>
<p><strong>Children</strong>: Aaryan R Krishna</p>
<p><strong>Albums</strong>: Charlie (Original Motion Picture Soundtrack), MORE</p>

{% endblock content %}



