{% extends 'base.html' %}
{% block content %}


<h1>Shreya Ghoshal</h1><br><hr>
{% load static %}
<img src="{% static 'singers/shreyaghoshal.jpg' %}" alt="shreyaghoshal" width="300px">
<hr>
<p>Shreya Ghoshal is an Indian singer and television personality. One of the highest-paid and well-established playback singers of Hindi cinema, she has received four National Film Awards, four Kerala State Film Awards, two Tamil Nadu State Film Awards, seven Filmfare Awards and ten Filmfare Awards South. Wikipedia</p>

<p><strong>Born</strong>: 12 March 1984 (age 38 years), Berhampore</p>
<p><strong>Spouse</strong>: Shiladitya Mukhopadhyaya (m. 2015)</p>
<p><strong>Awards</strong>: Filmfare R. D. Burman Award, MORE</p>
<p><strong>Parents</strong>: Sarmistha Ghoshal, Bishwajit Ghoshal</p>

{% endblock content %}

