{% extends 'base.html' %}
{% block content %}

<h3>Vijay Yeshudas</h3><br><hr>
{% load static %}
<img src="{% static 'singers/vijayyesudas.jpg' %}" alt="vijayyesudas" width="300px">
<hr>
<p>Vijay Yesudas is an Indian playback singer and actor. He has sung over 1000 film songs. Vijay works predominantly in the South Indian film industry, mostly in Malayalam, Telugu and Tamil and also in Kannada, and Hindi. He is the son of acclaimed singer K. J. Yesudas. Wikipedia</p>
<p><strong>Born</strong>: 23 March 1979 (age 43 years), Chennai</p>
<p><strong>Spouse</strong>: Darshana Yesudas (m. 2007)</p>
<p><strong>Children</strong>: Ammeya Yesudas, Avyan Yesudas</p>
<p><strong>Parents</strong>: K. J. Yesudas, Prabha Yesudas</p>

{% endblock content %}
