{% extends 'base.html' %}
{% block content %}

<h1>Dulquer Salman</h1><br><hr>

{% load static %}

<img src="{% static 'actors/dulquer.jpg' %}" alt="dulquer_salman" width="300px">
<hr>
<p>Dulquer Salmaan is an Indian actor, playback singer and film producer who predominantly works in Malayalam language films. He has also appeared in a few Tamil, Hindi and Telugu language films. Wikipedia</p>
<br>
<p><strong>Born</strong>: 28 July 1986 (age 35 years), Kochi</p>
<p><strong>Spouse</strong>: Amal Sufiya (m. 2011)</p>
<p><strong>Parents</strong>: Mammootty, Sulfath Kutty</p>
<p><strong>Children </strong>: Maryam Ameerah Salmaan</p>
<hr>
{% endblock content %}