{% extends 'base.html' %}
{% block content %}

<h1>Nedumudi Venu</h1><br><hr>



{% load static %}

<img src="{% static 'actors/nedumudivenu.jpg' %}" alt="nedumudivenu" width="300px">
<hr>
<p>Kesavan Venugopal, better known by his stage name Nedumudi Venu, was an Indian actor and screenwriter from Kerala, who predominantly worked in Malayalam cinema. He acted in more than 500 films, primarily in Malayalam and also in Tamil in a career spanning nearly five decades. Wikipedia</p>
<p><strong>Born</strong>: 22 May 1948, Alappuzha</p>
<p><strong>Died</strong>: 11 October 2021, KIMSHEALTH Hospital Trivandrum, Thiruvananthapuram</p>
<p><strong>Spouse</strong>: T. R. Susheela</p>
<p><strong>Children</strong>: Unni Gopal, Kannan Gopal</p>
<p><strong>Parents</strong>: P. K. Kesavan Nair, P. Kunjikkuttiyamma</p>
<hr>
{% endblock content %}