{% extends 'base.html' %}
{% block content %}

<h1>Soubin Shahir</h1><br><hr>

{% load static %}

<img src="{% static 'actors/soubin.jpg' %}" alt="soubin" width="300px">
<hr>
<p>Soubin Shahir is an Indian actor and director who works in Malayalam cinema. He began his film career as an assistant director in 2003 and worked under several directors. Soubin made his acting debut in 2013 with a supporting role in Annayum Rasoolum. He made his directorial debut with the drama Parava. Wikipedia</p>
<p><strong>Born</strong> : 12 October 1983 (age 38 years), Kochi</p>
<p><strong>Height</strong> : 1.68 m</p>
<p><strong>Spouse</strong> : Jamia Zaheer (m. 2017)</p>
<p><strong>Parents</strong> : Babu Shahir</p>
<p><strong>Children</strong> : Orhan Soubin</p>
<hr>
{% endblock content %}